BobScans/**/*.jpg filter=lfs diff=lfs merge=lfs -text
BobScans/**/*.png filter=lfs diff=lfs merge=lfs -text
BobScans/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
site/audio/*.mp3 filter=lfs diff=lfs merge=lfs -text
AdditionalPhotos/*.jpg filter=lfs diff=lfs merge=lfs -text
site/photos_web/**/*.jpg filter=lfs diff=lfs merge=lfs -text
site/scans_web/**/*.jpg filter=lfs diff=lfs merge=lfs -text
